.container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 50px auto;
  background-color: #252d44;
  padding: 16px;
  border-radius: 10px;
}

.subContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.subContainer > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

body {
  background-color: #394461;
}

h3 {
  background-color: #181f32;
  color: white;
  font-size: 25px;
  margin: 0;
  margin-bottom: 16px;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: right;
}

button {
  background-color: #d13f30;
  color: white;
}

input {
  background-color: #eae3db;
  margin-right: 16px;
  font-size: 17px;
  font-weight: bolder;
}
